{% include 'base/header.html' %}

<nav class="navbar navbar-expand-lg bg-success text-light">
    <div class="navbar-brand">
        Mes congés
    </div>
    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
            conges restants : {{user.nb_conges}} j
        </li>
    </ul>
</nav>

<main class="container">
    <div class="row">
        <form method="POST" action="{{URL.RES.DEMANDER_CONGE}}" class="ml-auto col-md-3" autocomplete="off">
            <h2>Nouvelle demande</h2>
            <div class="input-group">
                <input name="date_debut" class="form-control" start-date
                    data-toggle="datepicker" placeholder="Date de début" required>
            </div>
            <div class="input-group">
                <input name="date_fin" class="form-control" end-date
                        data-toggle="datepicker" placeholder="Date de fin" required>
            </div>
            <select name="motif" class="form-control" required>
                <option value="" selected disabled>Motif</option>
                {% for motif in motifs %}
                <option value="{{motif}}">{{motif}}</option>
                {% endfor %}
            </select>

            <input name="id_employe" value="{{user.id}}" type="hidden">

            <button class="btn btn-warning form-control" type="submit">
                Continuer
            </button>
        </form>
        <div class="col-md-9">
            <!-- n'affiche le tableau que s'il y a des conges a mettre dedans -->
            <h2>Mes demandes</h2>
            {% if conges|length > 0 %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Motif</th>
                        <th>Statut</th>
                        <th>Commentaire</th>
                        <th>Actions</th>
                    </tr>
                    
                        {% for conge in conges %}
                        <tr>
                            <td>{{conge.get_date_debut()}}</td>
                            <td>{{conge.get_date_fin()}}</td>
                            <td>{{conge.motif}}</td>
                            <td>
                                {% if conge.statut == STATUT_CONGE.VALIDE %}
                                    <i class="fa fa-check text-success" title="demande acceptée"></i>
                                {% elif conge.statut == STATUT_CONGE.REFUSE %}
                                    <i class="fa fa-times text-danger" title="demande refusée"></i>
                                {% else %}
                                    <i class="fas fa-clock text-primary" title="en attente de validation..."></i>
                                {% endif %}
                            </td>
                            <td>
                                {{ conge.commentaire if conge.commentaire else '-'}}
                            </td>
                            <td style="display: flex">
                                {% if conge.est_traite() %}
                                <a class="btn text-dark" method="GET" title="modifier la demande" href="/conges/modifier/{{conge.id}}">
                                    <i class="fa fa-edit"></i> 
                                </a>
                                <a href="{{URL.RES.SUPPRIMER_CONGE_PREFIXE}}{{conge.id}}" class="btn text-danger" title="Supprimer la demande">
                                    <i class="fa fa-trash-alt"></i> 
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
            {% else %}
            <p style="line-height: 50px">
                Aucun congé à afficher. Effectuez une demande ci-contre <i class="fa fa-arrow-right"></i>
            </p>
            {% endif %}
        </div>
    </div>
</main>

{% include 'base/footer.html' %}
