{% include 'base/header.html' %}

<div class="modal" style="display:block;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form method="POST" action="{{URL.RES.CONNEXION}}" class="modal-content">
            <div class="modal-header" style="text-align: center; margin: 0 auto; border-bottom: solid 1px #28a745">
                <img src="/static/img/favicon.ico" style="margin-right: 8px"> 
                <h1>{{app.name}}</h1>
            </div>

            <div class="modal-body">
                <p style="text-align: center">Connectez-vous pour continer.</p>

                <hr/>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                                login
                        </span>
                    </div>
                    <input type="text" class="form-control" 
                        placeholder="login"
                        name="login">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            Mot de passe
                        </span>
                    </div>
                    <input type="password" class="form-control" 
                        placeholder="mot de passe" name="password">
                </div>
                <div class="checkbox checkbox-success" style="text-align:center; line-height: 2em">
                    <input id="remember-me" type="checkbox" name="remember-me">
                    <label for="remember-me">
                        Rester connecté!
                    </label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success form-control">
                    connexion
                </button>
            </div>
        </form>
    </div>
</div>

{% include 'base/footer.html' %}
