{% include 'base/header.html' %}

<nav class="navbar navbar-expand-sm bg-primary text-light">
    <div class="navbar-brand">
        Congés de mon équipe
    </div>
</nav>

<main class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Employé</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Motif</th>
                <th>Statut</th>
                <th>Commentaire</th>
            </tr>
            {% for employe in employes_equipe %}
                {% if employe.id != user.id %}
                    {% for conge in employe.conges %}
                        <tr>
                            <th>
                                {% if loop.index == 1 %}
                                    {{ employe.prenom }} {{ employe.nom }}
                                {% endif %}
                                <!-- {{employe.prenom}} {{employe.nom}} -->
                            </th>
                            <td>{{conge.get_date_debut()}}</td>
                            <td>{{conge.get_date_fin()}}</td>
                            <td>{{conge.motif}}</td>
                            <td>
                                {% if conge.statut == STATUT_CONGE.VALIDE %}
                                    <i class="fa fa-check text-success" title="demande acceptée"></i>
                                {% elif conge.statut == STATUT_CONGE.REFUSE %}
                                    <i class="fa fa-times text-danger" title="demande refusée"></i>
                                {% else %}
                                    <i class="fas fa-clock text-primary" title="en attente de validation..."></i>
                                {% endif %}
                            </td>
                            <td>
                                {{conge.commentaire if conge.commentaire else '-'}}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </table>
    </div>
</main>

{% include 'base/footer.html' %}