{% include 'base/header.html' %}

<main class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>
                <i class="fa fa-user"></i> Employé
            </h2>
            <form method="POST" action="/api/employes">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-prepend input-group-text text-light bg-dark">
                            nom
                        </span>
                    </div>
                    <input name="nom" placeholder="Nom" class="form-control" value="{{employe.nom}}" readonly>
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-prepend input-group-text text-light bg-dark">
                            prénom
                        </span>
                    </div>
                    <input name="prenom" placeholder="Prénom" class="form-control" value="{{employe.prenom}}" readonly>
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-prepend input-group-text text-light bg-dark">
                            adresse
                        </span>
                    </div>
                    <input name="adresse" placeholder="Adresse postale" class="form-control" value="{{employe.adresse}}" readonly>
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-prepend input-group-text text-light bg-dark">
                            @ mail
                        </span>
                    </div>
                    <input name="mail" placeholder="Adresse mail" class="form-control" value="{{employe.mail}}" readonly>
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class=" input-group-text text-light bg-dark">
                            equipe
                        </span>
                    </div>
                    <input name="equipe" placeholder="Equipe" class="form-control" value="{{employe.equipe.nom}}" readonly>
                </div>
            </form>
        </div>
        <div class="col-md-9">
            <h2>
                Congés employé
            </h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Motif</th>
                        <th>Statut</th>
                        <th>Commentaire</th>
                        <th>Actions</th>
                    </tr>
                    
                        {% for conge in employe.conges %}
                        <tr>
                            <td>{{conge.get_date_debut()}}</td>
                            <td>{{conge.get_date_fin()}}</td>
                            <td>{{conge.motif}}</td>
                            <td>
                                {% if conge.statut == STATUT_CONGE.VALIDE %}
                                    <i class="fa fa-check text-success" title="demande acceptée"></i>
                                {% elif conge.statut == STATUT_CONGE.REFUSE %}
                                    <i class="fa fa-times text-danger" title="demande refusée"></i>
                                {% else %}
                                    <i class="fas fa-clock text-primary" title="en attente de validation..."></i>
                                {% endif %}
                            </td>
                            <td>
                                {{ conge.commentaire if conge.commentaire else '-'}}
                            </td>
                            <td style="display: flex">
                                {% if conge.est_traite() %}
                                <a class="btn text-dark" method="GET" title="modifier la demande" href="/conges/modifier/{{conge.id}}">
                                    <i class="fa fa-edit"></i> 
                                </a>
                                <form method="POST" action="{{URL.RES.SUPPRIMER_CONGE}}" class="inline-form">
                                    <input type="hidden" name="id_conge" value="{{conge.id}}">
                                    <button class="btn text-danger" role="button" type="submit" title="Supprimer la demande">
                                        <i class="fa fa-trash-alt"></i> 
                                    </button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
    </div>
</main>

{% include 'base/footer.html' %}