{% include 'base/header.html' %}

<main class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="/api/equipe">
                <h2>Ajouter une équipe</h2>
                <input class="form-control" type="text" name="nom_equipe" placeholder="nom de l'équipe">
                <button type="submit" class="btn btn-primary form-control">
                    <i class="fa fa-plus"></i>
                    Ajouter l'équipe
                </button>
            </form>
        </div>
        <div class="col-md-8">
            <h2>Liste des équipes</h2>
            
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                    {% for equipe in equipes %}
                    <tr>
                        <td>{{equipe.nom}}</td>
                        <td>
                            <a class="btn text-dark" href="{{URL.PAGE.MODIFIER_EQUIPE_PREFIXE}}{{equipe.id}}" 
                                    title="Renommer l'équipe" role="button">
                                <i class="fa fa-edit"></i>
                            </form>
                            <a class="btn text-danger" href="{{URL.RES.SUPPRIMER_EQUIPE_PREFIXE}}{{equipe.id}}" 
                                    title="Supprimer l'équipe" role="button">
                                <i class="fa fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</main>

{% include 'base/footer.html' %}
