{% include 'base/header.html' %}

<main class="container">
    <div class="row">
        <div class="col-md-3">
            <form method="POST" action="/api/employes">
                <h2>Ajouter un employé</h2>
                <input name="nom" placeholder="Nom" class="form-control" required>
                <input name="prenom" placeholder="Prénom" class="form-control" required>
                <input name="adresse" placeholder="Adresse postale" class="form-control" required>
                <input name="mail" placeholder="Adresse mail" class="form-control" required>
                <select name="id_equipe" class="form-control" required>
                    {% if equipes|length>0 %}
                        {% for equipe in equipes %}
                        <option value="{{equipe.id}}">
                            {{equipe.nom}}
                        </option>
                        {% endfor %}
                    {% else %}
                        <option value="" selected>Aucune équipe disponible</option>
                    {% endif %}
                </select>
                <select name="role" class="form-control" required>
                    {% for id_role, role in ROLES.items() %}
                        <option value="{{id_role}}">
                            {{role.nom}}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary form-control">
                    <i class="fa fa-plus"></i>
                    Ajouter un employé
                </button>
            </form>
        </div>
        <div class="col-md-9">
            <h2>Liste des employés</h2>
            <table class="table table-reponsive table-striped">
                <tr>
                    <th>Prénom / Nom</th>
                    <th>Equipe</th>
                    <th>Adresse</th>
                    <th>Actions</th>
                </tr>
                {% for employe in employes %}
                <tr>
                    <td>
                        <a href="{{URL.PAGE.PREFIXE_FICHE_EMPLOYE}}{{employe.id}}">
                            {{employe.prenom}} {{employe.nom}}
                        </a>
                    </td>
                    <td>{{employe.equipe.nom}}</td>
                    <td>{{employe.adresse}}</td>
                    <td>
                        <button class="btn text-success" role="button" onclick="copyToClipboard(this)" data="{{employe.mail}}" title="Cliquez pour copier l'adresse mail">
                            <i class="fa fa-copy"></i> 
                        </button> 
                        <button class="btn text-dark" role="button" title="Cliquez pour envoyer un mail">
                            <a href="mailto:{{employe.mail}}">
                                <i class="fa fa-envelope"></i> 
                            </a>
                        </button> 
                        <a class="btn text-dark" href="/employes/modifier/{{employe.id}}" title="Modifier les informations">
                            <i class="fa fa-edit"></i> 
                        </a> 
                        <!-- empeche la suppression de l'utilisateur courant -->
                        {% if employe.id != user.id %}
                        <form method="POST" style="display: inline-block" action="/api/employes/delete">
                            <input type="hidden" name="id_employe" value="{{employe.id}}">
                            <button class="btn text-danger" role="button" type="submit" title="Supprimer l'employé">
                                <i class="fa fa-trash-alt"></i> 
                            </button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</main>

<script>
function copyToClipboard(elt){
    // methode cross-browser pour copier du texte dans le presse-papier
    var virtual_input = document.createElement('input');
    virtual_input.value = elt.getAttribute('data');
    document.body.appendChild(virtual_input);
    virtual_input.select();
    document.execCommand('copy');
    document.body.removeChild(virtual_input);
}
</script>

{% include 'base/footer.html' %}
