{% include 'base/header.html' %}

<form method="POST" action="{{URL.RES.MODIFIER_CONGE_PREFIXE}}{{conge.id}}" class="ml-auto mr-auto col-sm-6" autocomplete="off">
    <h2>Modifier demande</h2>
    <div class="input-group">
        <input name="date_debut" class="form-control" start-date
            data-toggle="datepicker" placeholder="Date de début"
            value="{{conge.date_debut.strftime('%d/%m/%Y')}}" required>
    </div>
    <div class="input-group">
        <input name="date_fin" class="form-control" end-date
                data-toggle="datepicker" placeholder="Date de fin"
                value="{{conge.date_fin.strftime('%d/%m/%Y')}}" required>
    </div>
    <select name="motif" class="form-control" required>
        <option value="" selected disabled>Motif</option>
        {% for motif in motifs %}
        <option value="{{motif}}" {{'selected' if motif==conge.motif}}>{{motif}}</option>
        {% endfor %}
    </select>

    <button class="btn btn-warning form-control" type="submit">
        Continuer
    </button>
</form>

{% include 'base/footer.html' %}
