{% include 'base/header.html' %}

<div class="row">
<div class="col-md-6 mr-auto mr-auto">
    <form method="POST" action="/api/employes/update/{{employe.id}}">
        <h3>Modifier un employé</h3>
        <input name="nom" placeholder="Nom" class="form-control" value="{{employe.nom}}" required>
        <input name="prenom" placeholder="Prénom" class="form-control" value="{{employe.prenom}}" required>
        <input name="adresse" placeholder="Adresse postale" class="form-control" value="{{employe.adresse}}" required>
        <input name="mail" placeholder="Adresse mail" class="form-control" value="{{employe.mail}}" required>
        <select name="id_equipe" class="form-control" required>
            {% if equipes|length>0 %}
                {% for equipe in equipes %}
                <option value="{{equipe.id}}" {{'selected' if employe.equipe.id==equipe.id}}>
                    {{equipe.nom}}
                </option>
                {% endfor %}
            {% else %}
                <option value="" selected>Aucune équipe disponible</option>
            {% endif %}
        </select>
        <button type="submit" class="btn btn-primary form-control">
            <i class="fa fa-plus"></i>
            Ajouter un employé
        </button>
    </form>
</div>
</div>
{% include 'base/footer.html' %}
