{% include 'base/header.html' %}

<header class="jumbotron" style="background-color: lightslategray">
    <h2>Nouvelle demande</h2>
</header>   

<main class="container">
    <form method="POST" action="" class="left-sm-3 col-md-4">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    Date de début
                </div>
            </div>
            <input name="date_debut" class="form-control"
                data-toggle="datepicker" required>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    Date de fin
                </div>
            </div>
            <input name="date_fin" class="form-control"
                 data-toggle="datepicker" required>
        </div>
        <select name="motif" class="form-control" required>
            <option value="" selected disabled>Motif</option>
            {% for motif in motifs %}
            <option value="{{motif.id}}">{{motif.nom}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-warning" type="submit">
            Continuer
        </button>
    </form>
</main>

{% include 'base/footer.html' %}
