{% include 'base/header.html' %}

<!-- form accepter / refuser demande -->
<div class="modal fade" id="form-traiter-demande" tabindex="-1" role="dialog" aria-hidden="true">
    <form method="POST" action="{{URL.RES.VALIDATION_CONGE}}" class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <select id="action" name="action" class="modal-title form-control" readonly>
                    <option value="refuser">Refuser demande</option>
                    <option value="accepter">Accepter demande</option>
                </select>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input name="commentaire" class="form-control" placeholder="Motif (obligatoire si refus)">
                <input id="id_demande_traitee" type="hidden" name="id_demande">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-success">Valider</button>
            </div>
        </div>
    </form>
</div>

<!-- contenu de la page listant les demandes -->
<nav class="navbar navbar-expand-sm bg-secondary text-light">
    <div class="navbar-brand">
        Validation des demandes
    </div>
</nav>

<div class="container">
    <form action="" method="GET" class="col-md-12" style="margin-bottom: 15px">
        <div class="row">
            <div class="input-group-prepend">
                <span class="input-group-text d-none d-sm-block">Recherche</span>
            </div>

            <input class="form-control col-md-3" name="prenom" placeholder="prénom">
            <input class="form-control col-md-3" name="nom" placeholder="nom">
            <input class="form-control col-md-3" name="equipe" placeholder="équipe">

            <div class="input-group-append">
                <button class="btn btn-primary form-control" type="submit">
                    Chercher <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Demandeur</th>
                <th>Equipe</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Motif</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
            {% for conge in conges %}
            <tr>
                <td>
                    <a href="{{URL.PAGE.PREFIXE_FICHE_EMPLOYE}}{{conge.employe.id}}">
                        {{conge.employe.prenom}} {{conge.employe.nom}}
                    </a>
                </td>
                <td>{{conge.employe.equipe.nom}}</td></td>
                <td>{{conge.get_date_debut()}}</td>
                <td>{{conge.get_date_fin()}}</td>
                <td>{{conge.motif}}</td>
                <td>
                    {% if conge.statut == STATUT_CONGE.VALIDE %}
                        <i class="fa fa-check text-success" title="demande acceptée"></i>
                    {% elif conge.statut == STATUT_CONGE.REFUSE %}
                        <i class="fa fa-times text-danger" title="demande refusée"></i>
                    {% else %}
                        <i class="fas fa-clock text-primary" title="en attente de validation..."></i>
                    {% endif %}
                </td>
                <td>
                    <button class="btn text-danger" role="button" onclick="traiterDemande(this)" data-action="refuser" data-id="{{conge.id}}" data-toggle="modal" data-target="#form-traiter-demande">
                        <i class="fas fa-times"></i>
                    </button>
                    <button class="btn text-success" role="button" onclick="traiterDemande(this)" data-action="accepter" data-id="{{conge.id}}" data-toggle="modal" data-target="#form-traiter-demande">
                        <i class="fas fa-check"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% include 'base/footer.html' %}