    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Datepicker -->
    <script src="/static/js/datepicker.min.js"></script>
    <!-- Fullcalendar -->
    <script src="/static/js/moment.min.js"></script>
    <!-- -->
    <script src="/static/js/demandes.js"></script>

    <script>
        // wait until document is ready
        $(function() {
            console.log('document ready');
            // enable datepicker widgets
            $('[data-toggle="datepicker"]').datepicker({
                format: 'dd/mm/yyyy',
                startDate: 'd',
                autoHide: true
            });

            // listener appelé quand la date de début choisie change
            $('[start-date]').on('pick.datepicker', function (e) {
                // oblige la date de fin à être choisie après la date de début
                $('[end-date]').datepicker('setStartDate', e.date);
            });
        });
    </script>
</body>
</html>